.tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 30px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
  }
  #button-connect{
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    border-color:  #e7eeec;
    z-index: 1040;
    position: relative;
    color: #8FE3CF ;
    
  }
  #button-connect:hover {
    color: #0a192f;
    background-color: #8FE3CF;
    cursor: pointer;
  }
  .banner {
    background: #0a192f;
    margin-top: 0;
    padding: 100px 150px 100px 150px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #8FE3CF;
} 
  .banner p {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-align: justify;
    margin-top: 20px;
  }
  .banner button {
    color: #002B5B;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 0.8px;
    border-radius: 30px;
    padding: 7px;
  }
  .banner img {
    animation: updown 3s linear infinite;
    width: 95%;
    max-width: 500px;
    height: auto;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
