.Navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
  color: white ;
  font-size: large;
}
.n-left:hover {
  color: #8FE3CF;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}
.n-p{
  color: white;
  margin-left: 30px;
}
.n-button {
  flex: 2;
}

@media screen and (max-width: 720px) {
  .n-list {
    display: none;
  }
}
.n-wrapper{
  background: #0a192f;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.n-p:hover {
  color:#8FE3CF;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.n-p:active {
  color:#ffffff;
  transition: 0.3s;
}
.n-p-active {
  color:#ffffff;
  border-radius: 5px;
}
#button-n{
  background:transparent;
  border-color: #8FE3CF;
  color: #8FE3CF;
  margin-left: 30px;
}
#button-n:hover {
  color: #0a192f  !important;
  background-color: #8FE3CF!important ;
}